/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	Stylesheets
	avelarfortunato.com
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
	font: 1em/1.5 'Ubuntu', 'Helvetica Neue' Helvetica,  sans-serif;
	font-weight: 400;
}

header,
section,
footer {
	margin: 0 auto;
	max-width: 1024px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', serif;
}

.header-description h1.h1-small {
	display: inline;
	font: 1em/1.5 'Ubuntu', 'Helvetica Neue' Helvetica,  sans-serif !important;
}

.svg .header-logo {
  background: url(../images/logo-ave.svg)no-repeat top left;
	float: left;
	display: block;
	height: 306px;
	width: 330px;
}

.header-logo,
.no-svg .header-logo {
	background: url(../images/logo-ave.png);
	background-size: 330px 300px;
	display: block;
	float: left;
	height: 306px;
	width: 330px;
}

.header-logo-content {
	position: absolute;
	margin: 125px 80px;
}

.header-logo-ave {
	background: #ffffff;
	padding: 0px 20px;
}

.header-logo-lar {
	padding: 0px 20px;
}

.header-logo-textt {
	font: 2.3em/1.5 'Cardo', serif;
	font-weight: 400;
	float: left;
}

.header-description {
	padding-top: 220px;
}
