body {
	font: 1em/1.8 'Lato', sans-serif;
	font-weight: 300;
	color: #37444a;
}

header,
footer,
section,
.grafico1 {
	width: 800px;
	margin: 0 auto;
}

.data-content {
	max-width: 1024px;
	margin: 0 auto;
}

.grafico1 {
	border: 1px solid #f4f4f4;
	height: auto;
	padding: 20px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: #185daa;
    margin-right: 2px;
}

.bar {
  fill: #185daa;
}

.axis {
	  font: 10px sans-serif;
	}
 
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}