/*================================
*  base/variables
*=================================*/

/*=================================
*  =typography
*=================================*/
$PROJECT_FONT_SIZE : 16px !default;
$PROJECT_BASELINE : 24px !default;

/*=================================
*  =Colors
*=================================*/

$TEXT_COLOR : #555 !default;
$LINK_COLOR : #185daa !default;