### Sass ###
.sass-cache

####################
## Ruby, Rails etc…
####################

.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
*.swp
*~
.project
*.komodo*
.DS_Store
db/schema.rb
*.orig
coverage
.rbenv-version
public/assets
dump.rdb
.env
/vendor/ruby

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Mac crap
.DS_Store
