/*********************************************************************
*  =Grid and typography
*********************************************************************/
/*********************************************************************
*  =Colors
*********************************************************************/
/*******************************************************************************
*
*  core/reset
*
*  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
*  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
*  html5doctor.com/html-5-reset-stylesheet/
*
*******************************************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, a,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* Lists will only be formatted on very specific areas
   so we'll reset them. */
ul,
ol {
  list-style: none;
  list-style-position: outside; }

body {
  font: normal normal normal 100%/1.5 sans-serif;
  font-family: "helvetica neue"; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol, dl {
  margin-bottom: 1.5em; }

p {
  margin-bottom: 1.5em; }

/*********************************************************************
*  =Headers
********************************************************************

h1 {
  font-size: em(58px, $PROJECT_FONT_SIZE);
  font-weight: normal;
  line-height: em(63px, 58px);
  margin-bottom: em(32px, 58px);
}

h2 {
  font-size: em(34px, $PROJECT_FONT_SIZE);
  font-weight: normal;
  line-height: em(34px, 34px);
  margin-bottom: em(26px, 34px);
  padding-top: em(16px, 34px);
}

h3 {
  font-size: em(22px);
  line-height: em(26px, 22px);
  margin-bottom: em(26px, 22px);
  padding-top: em(8px, 22px);
  font-weight: normal;
}*/
