@charset "UTF-8";
/*================================================
*  =SASS tests
=================================================*/
/*
  Definindo o projeto by Eduardo Shiota:
  - Baseline e o tamanho fonte base
  - Analisar o grid
  - Browser support (Chrome, Firefox, Safari, IE8+, iOS)

  Na hora de arquitetar o front-end, lembre-se que ele deve ter:

  - Alta performance client-side
  - Interface facilmente modificável
  - Componentes portáveis entre diferentes aplicações
  - Bulletproof Web Design
  - Responsive (ou pelo menos responsive-ready de início)
  - Baixa barreira de entrada para outros desenvolvedores
*/
/*================================
*  base/variables
*=================================*/
/*=================================
*  =typography
*=================================*/
/*=================================
*  =Colors
*=================================*/
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body,
select {
  color: #555555; }

/*=================================
*  =Links
*=================================*/
a {
  color: #185daa;
  text-decoration: underline; }
  a:focus {
    outline: thin dotted; }
